/**
 * BUTTONS
 */

%button
{
	padding: ((11/strip-unit($base-font-size)) * 1em) ((20/strip-unit($base-font-size)) * 1em);
	min-width: 20rem;
	border: 2px solid currentColor;
	border-radius: (5/strip-unit($base-font-size)) * 1em;
	cursor: pointer;
	line-height: (23/strip-unit($base-font-size));
	outline: none;
	transition: 0.3s ease;

	&:hover
	{
		background-color: currentColor;
	}
}

.btn
{
	@extend %button;

	&--header
	{
		position:absolute;
		border-color: map-get($colors, white);
		left: 50%;
		bottom: percentage(180/1600);
		// margin-top: (180/$base-font-size-unitless) * 1em;
		background-color: transparent;
		transform: translate(-50%, 0);
	}
	
	&.is-animated
	{
		// position: relative;
		overflow: hidden;
		transition: 0.3s ease;
		// z-index: 2;

		&::before
		{
			@extend %position-absolute;
			display: block;
			background-color: map-get($colors, white);
			border-radius: 25%;
			content: '';
			opacity: 0;
			transform: translate(-100%, 0);
			transition: 0.3s ease;
			z-index: 1;

		}

		// &:hover
		// {
		// 	color: map-get($colors, black);

		// 	&::after
		// 	{
		// 		border-radius: 0;
		// 		opacity: 1;
		// 		transform: translate(0, 0);
		// 	}
		// }
	}

	&--table
	{
		background-color: transparent;
	}

	&--contact
	{
		// VALUE FROM PSD
		$contact-margin-size: 35;
		$contact-width-parent: 440;
		$contact-width-size: ($contact-width-parent - $contact-margin-size);

		display: block;
		margin-bottom: 2.5rem;
		margin-left: percentage($contact-margin-size/$contact-width-parent);
		width: percentage($contact-width-size/$contact-width-parent);
		background-color: transparent;
		border-color: rgba( map-get($colors, white), 0.20)
	}
}