/**
 * BUTTONS
 */

$base-font-size-unitless: 15;

%button
{
	padding: (15/$base-font-size-unitless) * 1em;
	width: 20rem;
	background-color: transparent;
	border: 1px solid currentColor;
	cursor: pointer;
	line-height: (23/$base-font-size-unitless) * 1em;
	outline: none;
}

.btn
{
	@extend %button;

	&--header
	{
		margin-top: (180/$base-font-size-unitless) * 1em;
	}
}