/**
 * COMPONENTS
 */

// SQUARE
.square
{
	position: relative;
	padding-bottom: 100%;


	// &::after
	// {
	// 	display: block;
	// 	position: absolute;
	// 	padding-bottom: 100%;
	// 	content:'';
	// }
	&__inner
	{
		@extend %position-absolute;
	}

	&__table
	{
		display: table;
		@include size(100%);

		&__cell
		{
			display: table-cell;
			text-align: center;
			vertical-align: middle;
		}
	}

	&__img
	{
		max-width: percentage(160/200);
		height: auto;
	}

}

// CANVAS
.canvas
{
	@extend %position-absolute;
	z-index: -1;

}