/**
 * COMPONENTS
 */

// SQUARE
.square
{
	position: relative;
	padding-bottom: 100%;

	// &::after
	// {
	// 	display: block;
	// 	position: absolute;
	// 	padding-bottom: 100%;
	// 	content:'';
	// }

	&--collapse
	{
		@include at('xs')
		{
		    display: inline-block;
		    padding-bottom: 50%;
			width: 50%;
		}
	}

	&__inner
	{
		@extend %position-absolute;
	}

	&__table
	{
		display: table;
		@include size(100%);

		&__cell
		{
			display: table-cell;
			text-align: center;
			vertical-align: middle;
		}
	}

	&__img
	{
		max-width: percentage(160/200);
		height: auto;
	}

}

// CANVAS
.canvas
{
	display: none;
	@extend %position-absolute;
	@include size(100%);

	@include from('sm')
	{
		display: block;
	}
}

// MAP MARKERS
.map
{
	position: relative;
	width: percentage(1062px / $container-width);
	margin: -7rem auto 3.6rem;
	// background-image: url(../../img/png/gmap.png);
	// background-repeat: no-repeat;
	// background-position: -6px -44px;

	&__background
	{
		opacity: 0.5;
	}

	&__marker
	{
		$circle-size: 43px;
		$dot-size: 10px;

		$circle-offset: ($circle-size / 2 * -1);
		$dot-offset: ($dot-size / 2 * -1);

		position: absolute;
		top: 0;
		left: 0;
		margin-top: $dot-offset;
		margin-left: $dot-offset;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s ease, visibility 0.3s ease;

		&.show
		{
			opacity: 1;
			visibility: visible;
		}

		&__dot
		{
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			@include size($dot-size);
			background-color: #fff;
			border-radius: 50%;
			transform: scale(0.6);
			transition: transform 0.3s ease;
			-webkit-backface-visibility: hidden;

			&::before
			{
				content: "";
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: $circle-offset;
				margin-left: $circle-offset;
				@include size($circle-size);
				background-color: #fff;
				border-radius: 50%;
				transform: scale(0);
			}
		}

		&.show &__dot::before
		{
			animation: sonar 1.6s ease-out infinite;
		}

		&__info
		{
			display: none;
			margin-top: $circle-offset;
			margin-left: abs($circle-offset);
			padding-left: 1rem;
			// transition: all 0.3s ease;
			
			@include from('sm')
			{
				display: block;
				opacity: 0;
				visibility: hidden;
			}

			&__title,
			&__content
			{
				margin: 0;
				padding: 0.5em 0;
			}

			&__title
			{
				border-bottom: 1px solid;
				white-space: nowrap;
			}
		}

		&__dot:hover
		{
			transform: none;
		}

		&__dot:hover + &__info
		{
			display: block;

			@include from('sm')
			{
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

@keyframes sonar
{
	from
	{
		background-color: rgba(#fff,1);
		transform: scale(0);
	}
	to
	{
		background-color: rgba(#fff,0);
		transform: scale(2.4);
	}
}


// ALERT BOX
.box-alert
{
	border-radius: 0.5rem;

	& > p
	{
		position: relative;
		margin: ((35/16) * 1em) 0 ((35/16) * 1em) 14rem;

		&::before
		{
			display: block;
			position: absolute;
			right: 100%;
			top: 50%;
			height: (72/20) * 1em;
			width: 13.6rem;
			float: left;
			background:
			{
				image: url('#{$svg-dir}forms/opencraft_exclamation.svg');
				repeat: no-repeat;
				size: 100% 100%;
			}
			content: '';
			transform: translate(0, -50%);
		}
	}
}