/**
 * FORMS
 */

%inputs
{
	display: block;
	width: 100%;
	margin: 0;
	padding: ((11/strip-unit($base-font-size)) * 1em) ((20/strip-unit($base-font-size)) * 1em);
	background-color: transparent;
	border: 2px solid currentColor;
	border-radius: (5/strip-unit($base-font-size)) * 1em;
	color: inherit;
	line-height: (23/strip-unit($base-font-size));
	outline: 0;
}

// VALUE FROM PSD
$contact-margin-size: 35;
$contact-width-parent: 440;
// $contact-width-size: ($contact-width-parent - $contact-margin-size);

// FIELD
.field
{
	margin-bottom: 2.5rem;

	&--contact
	{
		&--left
		{
			margin-right: percentage($contact-margin-size/$contact-width-parent);

			@include at('xs')
			{
				margin-left: auto;
				margin-right: auto;
			}
		}

		&--right
		{
			margin-left: percentage($contact-margin-size/$contact-width-parent);

			@include at('xs')
			{
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	&--host
	{
	}
}

.input
{
	@extend %inputs;

	&--contact
	{
		border-color: rgba(map-get($colors, white), 0.2);
	}

	&--host
	{
		border-color: rgba(map-get($colors, black), 0.2);

		
		&--file
		{
			opacity: 0;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
			filter: alpha(opacity=0);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			cursor: pointer;
			
			&__label
			{
				display: inline-block;
				cursor: pointer;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				outline: none;
				text-transform: none;
				user-select: none;
				white-space: nowrap;

				&::after
				{
					content: "";
					position: absolute;
					top: 0;
					z-index: -1;

				}

			}
		}
		&--domain-name
		{
			display: inline-block;
			width: percentage(268/502);
		}

		&__wrapper
		{
			display: block;
			
			&--domain-name
			{
				position: relative;

				&::after
				{
					display: inline-block;
					margin-left: 1rem;
					// position: absolute;
					content: attr(data-after-content);

				}
			}

			&.error
			{
				position: relative;

				input
				{
					border-color: map-get($colors, red);
				}

				&::before,
				{
					position: absolute;
					right: calc(100% + 17px);
					top: 50%;
					display: block;
					height: 2.7rem;
					width: 2.8rem;
					background:
					{
						image: url('#{$svg-dir}forms/opencraft_error.svg');
						position: center;
						size: 100% 100%;
					}
					content: '';
					transform: translate(0, -50%);
				}
			}

			&.valid
			{
				&::before
				{
					position: absolute;
					right: calc(100% + 17px);
					top: 50%;
					display: block;
					@include size(3rem, 2.4rem);
					background:
					{
						image: url('#{$svg-dir}forms/opencraft_valid.svg');
						position: center;
						size: 100% 100%;
					}
					content: '';
					transform: translate(0, -50%);
				}
			}
		}
	}
}

// LABELS
%labels
{
	display: block;
	width: 100%;
	margin-bottom: 1rem;
	padding: 0;
	background-color: transparent;
	line-height: (23/strip-unit($base-font-size));
	outline: 0;
}

.label
{
	@extend %labels;

	&--required
	{
		&::after
		{
			content: " *";
		}
	}
}

// TEXTAREAS
%textareas
{
	@extend %inputs;
	max-width: 100%;
}

.textarea
{
	@extend %textareas;

	&--contact
	{
		border-color: rgba(map-get($colors, white), 0.2);
	}

	&--host
	{
		border-color: rgba(map-get($colors, black), 0.2);
	}
}

.message
{
	display: block;
	
	&.error
	{
		margin-top: 1.5rem;
		color: map-get($colors, red);
	}
}

// CHECKBOX
.checkbox
{
	display: block;
	float: left;
	@include size(3.5rem);
	margin-right: 2.8rem;
	border: 
	{
		color: rgba(map-get($colors, black), 0.2);
		radius: 0.5rem;
		style: solid;
		width: 2px;
	}

	&--hover{}
	
	&--focus{}
	
	&--checked
	{
		background:
		{
			image: url(#{$svg-dir}forms/opencraft_valid.svg);
			position: center;
			repeat: no-repeat;
			size: 2.2rem 1.8rem;
		}
	}

	&--active{}

	&--error
	{
		border: 
		{
			color: map-get($colors, red);
		}
	}

	&__wrapper__text
	{
		display: block;
		overflow: hidden;	
	}

	&__text
	{
		display: block;
	}
}