/**
 * FORMS
 */

%inputs
{
	display: block;
	width: 100%;
	margin: 0;
	padding: ((11/strip-unit($base-font-size)) * 1em) ((20/strip-unit($base-font-size)) * 1em);
	background-color: transparent;
	border: 2px solid currentColor;
	border-radius: (5/strip-unit($base-font-size)) * 1em;
	color: inherit;
	line-height: (23/strip-unit($base-font-size));
	outline: 0;
}

// VALUE FROM PSD
$contact-margin-size: 35;
$contact-width-parent: 440;
// $contact-width-size: ($contact-width-parent - $contact-margin-size);

// FIELD
.field
{
	margin-bottom: 2.5rem;

	&--contact
	{
		&--left
		{
			margin-right: percentage($contact-margin-size/$contact-width-parent);
		}

		&--right
		{
			margin-left: percentage($contact-margin-size/$contact-width-parent);
		}
	}
}

.input
{
	@extend %inputs;

	&--contact
	{
		border-color: rgba(map-get($colors, white), 0.2);
	}
}

// LABELS
%labels
{
	display: block;
	width: 100%;
	margin-bottom: 1rem;
	padding: 0;
	background-color: transparent;
	line-height: (23/strip-unit($base-font-size));
	outline: 0;
}

.label
{
	@extend %labels;

	&--required
	{
		&::after
		{
			content: " *";
		}
	}
}

// TEXTAREAS
%textareas
{
	@extend %inputs;
	max-width: 100%;
}

.textarea
{
	@extend %textareas;

	&--contact
	{
		border-color: rgba(map-get($colors, white), 0.2);
	}
}