/**
 * PARAGRAPHS
 */

 // PARAGRAPH
.paragraph-container
{
	margin-bottom:8rem;
	margin-top: 4.5rem;

}

.paragraph
{
	margin: 0 0 4rem 0;

	&--contact
	{
		line-height: (25/strip-unit($base-font-size)) * 1em;
	}
}
