/**
 * SLIDER
 */

.slider
{
	position: relative;
	margin: auto;
	max-width: 104rem;

	&__list
	{
		position: relative;
  		overflow: hidden;
	}

	&__nav
	{
		margin: 0 0 0 0;
		text-align: center;
	}

	&__item
	{
		margin: 6rem 0 8rem 0;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		text-align: center;
		visibility: hidden;

		&--current
		{
			visibility: visible;
  			position: relative;
		}

		&--show-previous
		{
			animation: slideFromLeft 350ms 10ms linear both;
		}

		&--show-next
		{
			animation: slideFromRight 350ms 10ms linear both;
		}

		&--hide-previous
		{
			animation: slideToLeft 350ms 10ms linear both;
			visibility: visible;
		}

		&--hide-next
		{
			animation: slideToRight 350ms 10ms linear both;
			visibility: visible;
		}

		&__image
		{
			border: 1px solid $light-gray;
			border-radius: 13rem;
			overflow: hidden;
		}

		&__testimonial
		{
			display: inline-block;
			position: relative;
			margin: 4.5rem;
			font-size: 2.5rem;
			font-style: italic;
			line-height: (30/25);
			
			&::before
			{
				position: absolute;
				bottom: 100%;
				right: 100%;
				display: block;
				@include size(30px, 25px);
				background-image: url('#{$svg-dir}/robeenbox-quotes.svg');
				background-position: center;
				background-repeat: no-repeat;
				content: '';
				transform: rotate(180deg);
			}

			&::after
			{
				position: absolute;
				left: 100%;
				top: 100%;
				display: block;
				@include size(30px, 25px);
				background-image: url('#{$svg-dir}/robeenbox-quotes.svg');
				background-position: center;
				background-repeat: no-repeat;
				content: '';
			}
		}

		&__description
		{
			font-size: 2rem;
			font-weight: $medium;
			line-height: (27/20);

		}
	}
}