/**
 * BASE
 */

html,
body
{
    height: 100%;
}

body
{
    counter-reset: section-title;
}

h1, .h1
{
    font:
    {
        family: 'Playfair Display';
        size: 5rem;
        weight: $regular;
    }    
    line-height: 7rem;
}

h2, .h2
{
    font:{
        family: 'Playfair Display';
        size: 6rem;
        weight: $regular;
    }
    line-height: 7rem;
}

a
{
	color: currentColor;
	text-decoration: none;
}

p
{
    margin: 1em 0;
}

ul, ol
{
    margin: 0;
    padding: 0;
}
ul
{
    list-style: none;
}