/**
 * BASE
 */

html,
body
{
    height: 100%;
}

body
{
    counter-reset: section-title;
}

h1, .h1
{
    font:
    {
        family: 'Playfair Display';
        size: 5rem;
        weight: map-get($font-weight, regular);
    }    
    line-height: 7rem;
}

h2, .h2
{
    font:
    {
        family: 'Playfair Display';
        size: 6rem;
        weight: map-get($font-weight, regular);
    }
    line-height: 7rem;
}

h3, .h3
{
    font: 
    {
        family: 'Roboto Mono';
        size: 2.5rem;
    }
}

a
{
	color: currentColor;
	text-decoration: none;
}

p
{
    margin: 1em 0;
}

ul, ol
{
    margin: 0;
    padding: 0;
}
ul
{
    list-style: none;
}