/**
 * TYPOGRAPHIE
 */

// ROBOTO MONO
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic);

// PLAYFAIR DISPLAY
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic,900,900italic);

html
{
    $original-font-size: 62.5%;

	font:{
		family: $font-body-family;
		size: $original-font-size;
	}

	@include to('lg')
	{
	    font:{
	    	size: ($original-font-size * 3/4);
	    }
	}
}

body
{
    line-height: $base-line-height;

    font:{
    	size: (($base-font-size / 10px) * 1rem);
    	weight: map-get($font-weight, regular);
    }
}

h1, .h1
{
    font:
    {
        family: $font-title-family;
        size: 2.2rem;
        weight: map-get($font-weight, regular);
    }    
    line-height: (70/50);

    @include from('sm')
    {
        font-size: map-get($font-size-title, h1);
    }
}

h2, .h2
{
    font:
    {
        family: $font-title-family;
        size: map-get($font-size-title, h2);
        weight: map-get($font-weight, regular);
    }
    line-height: (70/60);
}

h3, .h3
{
    font: 
    {
        family: $font-body-family;
        size: map-get($font-size-title, h3);
        weight: map-get($font-weight, regular);
    }
}

h4, .h4
{
    font: 
    {
        family: $font-body-family;
        size: map-get($font-size-title, h4);
        weight: map-get($font-weight, regular);
    }
}
