/**
 * HOME
 */

// ROW BACKGROUND
.row__background
{
	@extend %position-absolute;
	z-index: -1;

	&__testimonials
	{
		background:
		{
			image: url('#{$png-dir}opencraft_background_testimonials.png');
			position: center;
			size: cover;
		}	
	}
}

.section-intro
{
	&__title
	{
	}

	&__table
	{
		@include size(100%);
		display: table;

		&--cell
		{
			@include size(100%);
			display: table-cell;
			vertical-align: middle;
		}
	}
}

// CLIENTS
.section-clients
{
	&__header
	{
		margin-top: 12rem;
	}

	&__table
	{
		display: table;

		@include at('xs')
		{
			display: block;
			// Prevent white-space inline-block
			font-size: 0;
		}

		&__cell
		{
			display: table-cell;

			@include at('xs')
			{
				display: inline-block;
			}
		}
	}
}

// NEED
.section-need
{
	$overlap: 20rem;

	margin-top: $overlap + 23rem;

	&__img-header
	{
		display: block;
		@include size(100%, auto);
		margin-top: -$overlap;
		@extend %box-shadow;
	}

	&__header
	{
		padding-top: 6rem;
		padding-bottom: 18rem;
	}
}

// PROJECTS
.section-projects
{
	padding-top: 9rem;
	margin-top: -9rem;
	z-index: -1;

	& > .site-section
	{
		padding-top: 11.5rem;
	}
}

// TESTIMONIALS
.section-testimonials
{
	padding-top: 12rem;
	padding-bottom: 39rem;
}

// CONTACTS
.section-contacts
{
	margin-top: -23rem;
	padding-top: 2.4rem;
	padding-bottom: 6.8rem;
}

.form--contact
{
	margin: 5.5rem 0;
}

// INFORMATIONS
.section-informations
{
	margin-top: 16.9rem;
	padding-top: 9rem;
}