/**
 * HOME
 */

// ROW BACKGROUND
.row__background
{
	@extend %position-absolute;
	z-index: -1;


	&__testimonials
	{
		background:
		{
			image: url('#{$png-dir}opencraft_background_testimonials.png');
			position: center;
			size: cover;

		}	
		@include at('xs')
		{
			.js &
			{
				display: none;
			}
		}
	}
}

.section-intro
{
	.site-section
	{
		position: relative;
		z-index: 1;
	}

	&__inner
	{
		padding-left: 2.5rem;
		padding-right: 2.5rem;
	}

	&__title
	{
	}

	&__table
	{
		@include size(100%);
		display: table;

		&--cell
		{
			@include size(100%);
			display: table-cell;
			vertical-align: middle;
		}
	}
}

// CLIENTS
.section-clients
{
	&__header
	{
		margin-top: 12rem;

		@include at('xs')
		{
			margin-top: 0;
		}
	}

	&__table
	{
		display: table;

		@include at('xs')
		{
			display: block;
			// Prevent white-space inline-block
			font-size: 0;
		}

		&__cell
		{
			display: table-cell;

			@include at('xs')
			{
				display: inline-block;
			}
		}
	}
}

// NEED
.section-need
{
	$overlap: 20rem;

	margin-top: $overlap + 23rem;

	@include at('xs')
	{
		margin-top: 20rem;
	}


	&__img-header
	{
		display: block;
		@include size(100%, auto);
		margin-top: -$overlap;
		@extend %box-shadow;

		@include at('xs')
		{
			margin-top: -7rem;
		}
	}

	&__header
	{
		padding-bottom: 18rem;
		padding-top: 6rem;

		@include at('xs')
		{
			padding-bottom: 0;
			padding-top: 0;
		}
	}
}

// PROJECTS
.section-projects
{
	$margin: -9rem;

	margin-top: $margin;
	padding-top: abs($margin);
	padding-bottom: 12.6rem;
	z-index: -1;

	& > .site-section
	{
		padding-top: 11.5rem;

		@include at('xs')
		{
			padding-top: 8.5rem;
		}
	}

	@include at('xs')
	{
		padding-top: 0;
	}
}

// TESTIMONIALS
.section-testimonials
{
	padding-top: 12rem;
	padding-bottom: 39rem;

	@include at('xs')
	{
		padding-top: 0rem;
	}
}

// CONTACTS
.section-contacts
{
	margin-top: -23rem;
	padding-top: 2.4rem;
	padding-bottom: 6.8rem;
}

.form--contact
{
	margin: 5.5rem 0;
}

// INFORMATIONS
.section-informations
{
	margin-top: 16.9rem;
	padding-top: 9rem;

	@include at('xs')
	{
		margin-top: 0;
		padding-top: 0;
	}
}