/**
 * VARIABLES
 */

$black: #1c1c1c;
$white: #fcfbf9;

// CYAN
$cyan-moderate: #62b6ce;
$cyan-very-dark-grayish: #3d4b4e;
$cyan-very-dark-desaturated: #24454f;
$cyan-grayish: #a5cbd7;
$cyan-dark-moderate: #47899c;

// GRAY
$gray-very-light: #ececec;

// Brands colors 
$facebook: #3b5998;
$twitter: #55acee;
$instagram: #3f729b;
$linkedin: #0077b5;

// FONT
$font-body-family: "Roboto Mono", sans-serif;
// $font-body-family
$font-title-family: "Playfair Display", serif;
$base-font-size: 15px;
$base-line-height: (26/15);

// $extralight: 100;
$light: 300;
// $book: 300;
$regular: 400;
$medium: 500;
// $semibold: 600;
$bold: 700;
// $extrabold: 800;
// $extrablack: 900;

// LAYOUT

$psd-width: 1600px;
$container-width: 1200px;
// $container-width-m: 1040px;
// $header-size-lg: 9rem;
// $header-size-sm: 6rem;

// TRANSITION

// $ease-transition: width 0.3s ease;

// MISCELLANEOUS
// $fonts-dir: "../../fonts/";
$img-dir: "../../img/";
$svg-dir: "../../img/svg/";
$jpg-dir: "../../img/jpg/";
$png-dir: "../../img/png/";

// RESPONSIVE

// Breakpoint slicer https://github.com/lolmaus/breakpoint-slicer
$slicer-breakpoints: 0 768px 992px 1200px 1400px;
$slicer-breakpoint-names: 'xs' 'sm' 'md' 'lg' 'hd';
$slicer-anti-overlap-corrections: -1px;

// GRID