/**
 * VARIABLES
 */

// To use var from map: map-get($map, $key)
// COLORS
$colors: (
	black: #1c1c1c,
	white: #fcfbf9,

	// CYAN
	cyan-moderate: #62b6ce,
	cyan-very-dark-grayish: #334A4D,
	cyan-very-dark-desaturated: #003A45,
	cyan-grayish: #a5cbd7,
	cyan-dark-moderate: #47899c,
	cyan-slightly-desaturated: #8bb3be,

	// GRAY
	gray: #b3b3b3,
	gray-very-light: #ececec,
	gray-dark: #818181,

	// Brands colors 
	facebook: #3b5998,
	twitter: #55acee,
	instagram: #3f729b,
	linkedin: #0077b5,
);
		
// FONT
$font-body-family: "Circular", sans-serif;
$font-title-family: "Playfair Display", serif;
$font-watermark-family: "Roboto Mono";
$base-font-size: 16px;
$base-line-height: 26/16;

$font-weight: 
(
	extralight: 100,
	light: 300,
	book: 300,
	regular: 400,
	medium: 500,
	semibold: 600,
	bold: 700,
	extrabold: 800,
	extrablack: 900
);

$font-size-title:
(
	h1: 5rem,
	h2: 6rem,
	h3: 3rem,
	h4: 2.5rem
);

// LAYOUT

$psd-width: 1600px;
$container-width: 1200px;
// $container-inner-width: 1200px;
// $container-width-m: 1040px;
// $header-size-lg: 9rem;
// $header-size-sm: 6rem;

// TRANSITION

// $ease-transition: width 0.3s ease;

// MISCELLANEOUS
$fonts-dir: "../../fonts/";
$img-dir: "../../img/";
$svg-dir: "../../img/svg/";
$jpg-dir: "../../img/jpg/";
$png-dir: "../../img/png/";

// RESPONSIVE

// Breakpoint slicer https://github.com/lolmaus/breakpoint-slicer
$slicer-breakpoints: 0 768px 992px 1200px 1400px;
$slicer-breakpoint-names: 'xs' 'sm' 'md' 'lg' 'hd';
$slicer-anti-overlap-corrections: -1px;

// GRID