/**
 * FOOTER
 */


.site-footer
{
	font-size: 1.2rem;

	&__container
	{
		padding: 2.5rem;

		@include from('md')
		{
			display: table;
			width: 100%;
		}

		@include at('md')
		{
			padding-left: 7rem;
			padding-right: 7rem;
		}

		@include from('lg')
		{
			padding-left: 0;
			padding-right: 0;
		}
	}

	.icon__logo--footer
	{
		display: block;
		@include size(12.3rem, 6.2rem);
		margin: 0 auto 3.8rem;

		@include from('md')
		{
			display: inline-block;
			vertical-align: middle;
			margin-right: 3.8rem;
			margin-bottom: 0; 
			margin-left: 0;
		}
	}

	&__logo,
	&__copyright
	{
		padding: 2rem 0;

		@include from('md')
		{
			display: table-cell;
			vertical-align: middle;
		}
	}

	&__copyright
	{
		@include from('md')
		{
			padding: 5.7em 0;
		}

		p
		{
			margin: 0;
		}
	}

}