/**
 * LAYOUT
 */

$overlap: 8.6rem;

.container
{
	// display: inline-block;
	// margin: 17.5rem 0;

	&__inner
	{
		// FROM PSD
		// $margin-left: 266px;
		// $width: 800px;
		
		// width: percentage($width/$container-width);
		max-width: $container-width;
		margin: 0 auto;

		&.is-overlap
		{

			
			// padding: $overlap 0 0 0;
			// margin: - $overlap percentage($margin-left/$width) $overlap;
			// width: (100 - (percentage($margin-left * 2 /$width)));
		}
	}

	&.has-overlap
	{
		margin-top: 17.5 + $overlap;
	}

	&__table
	{
		display: table;
		table-layout: fixed;
		width: 100%;

		@include at('xs')
		{
			display: block;
		}

		&__cell
		{
			display: table-cell;
			padding: 6rem 2rem;

			@include at('xs')
			{
				display: block;
				width: 100%;
				padding-top: 9rem;
				padding-bottom: 9rem;
			}

			&__title
			{
				margin-top: 0.5em;
				margin-bottom: 0.5em;
			}

			&__text
			{
				margin: 5.4rem 0 6rem;
				font:
				{
					size: 1.7rem;
				}
				line-height: (28/17);
			}

			&__img
			{
				margin: 0;
				
				.icon__table
				{
					height: 6.2rem;
					width: 9.4rem;
					fill: map-get($colors, white);
				}
			}
		}
	}
}


// SECTION TITLE
.section-title
{
	display: inline-block;
 	position: relative;
 	margin-bottom: (9/strip-unit(map-get($font-size-title, h2))) * 1em;
 	padding: (20/60) * 1em 0;
	
	&::before
	{
		display: block;
		position: absolute;
		bottom: 0;
		right: 100%;
		height: 5.5rem;
		color: currentColor;
    	content: counter(section-title, decimal-leading-zero);
		counter-increment: section-title;
		font:
		{
			family: $font-watermark-family;
			size: 5.5rem;
		}
		line-height: 1;
		opacity: 0;
		transform: rotate(-90deg) translate3d(50%,0,0);
		transition: all 0.5s ease-out;
	}

 	&::after
 	{
 		display:block;
		position: absolute;
		bottom: -0.6rem;
		height: 0.6rem;
		width: 9rem;
		background-color: currentColor;
		border-radius: 0.3rem;
		content: '';
 	}

 	&.is-visible
 	{
 		&::before
 		{
 			opacity: 0.2;
			transform: rotate(-90deg) translate3d(0,0,0);
 		}

 		&::after
 		{

 		}
 	}
}

.site-content
{
	height: 100%;
}

.site-section
{
	max-width: $container-width;
	margin-right: auto; 
	margin-left: auto;
}

// BACKGROUND COLUMN
.site-background
{
	margin: 0 auto;
	position: fixed;
    right: 50%;
    top: 0;
    height: 100%;
    width: $psd-width;
    transform: translate(50%, 0);
    // Ensure that it always be behind the content
    z-index: -100;

	&__inner
	{
		height: 100%;
	}

	&__column
	{
		$border-column: 1px solid rgba(map-get($colors, black), 0.1);

		height: 0;
		border-left: $border-column;
    	transition: height .6s linear;
    	


		&:last-child
		{
			border-right: $border-column;
		}
		
		// When DOM is ready
		@at-root
		{
			.is-ready &
			{
				height: 100%;
			}
		}
	}

}

// INFORMATIONS
.informations-article
{
	display: inline-block;

	@include from('sm')
	{
		margin-bottom: 13rem;
	}
}

.screen
{
	position: relative;
	overflow: hidden;
	@extend %box-shadow;
	border-radius: 3px;

	&__wrapper
	{
		&__list
		{
			margin: 1em 0;

			@include from('sm')
			{
				display: table;
			}

			@include between('sm','md')
			{
				padding-left: 3.5rem;
				padding-right: 3.5rem;
			}

			&__item
			{
				@include from('sm')
				{
					display: table-cell;
					vertical-align: middle;
				}
			}
		}

		&__slider
		{
			@include at('xs')
			{
				margin-top: 6rem;
				padding-left: 3.5rem;
				padding-right: 3.5rem;
			}

			.js &
			{
				display: none;
			}
		}
	}

	&__slide
	{
		img
		{
			display: block;
			width: 100%;
			height: auto;
		}
	}

	&__bar
	{
		position: relative;
		@include size(100%, 3.2rem);
		border-bottom: 1px solid rgba( map-get($colors, cyan-moderate), 0.1);

		&__button
		{
			position: absolute;
			top: 50%;
			display: block;
			@include size(8px);
			background-color: map-get($colors, white);
			border-radius: 4px;
			transform: translate(0, -50%);

			@for $i from 1 through 3 {
		      	&:nth-child(#{$i}) 
		      	{ 
		       		left: $i * 10px;
		      	}	
		    }
		}
	}

    &__list
    {
    	margin-bottom: 7.8rem; // height of the slider dots navigation

    	@include at('xs')
    	{
			margin-bottom: 1em;
			// From Bootstrap
			padding-left: 16.66667%;
			padding-right: 16.66667%;
    	}

    	&__item
    	{
			font-size: 1.8rem;
			line-height: (35/18);

			&__button
			{
				display: block;
				@extend %button-reset;
    			color: rgba(map-get($colors, black), 0.35);
				text-align: left;
				transition: color 0.3s ease;
	    	}

	    	&:hover &__button,
	    	&__button:focus
			{
				color: rgba(map-get($colors, black), 0.65);
			}

			&.active &__button
    		{
    			color: map-get($colors, black);
    		}
    	}
    }

    &__nav
    {
    	padding: 2.4rem 0 2.8rem;
    	text-align: center;

    	.slider__dot
    	{
    		display: inline-block;
    		@include size(18px);
    		@extend %button-reset;
    		margin: 0 0.5em;
    		background-color: rgba(map-get($colors, black), 0.15);
    		border-radius: 9px;
    		vertical-align: middle;

    		.no-touch &
    		{
    			transition: background-color 0.3s ease;

	    		&:hover,
	    		&:focus
	    		{
	    			background-color: rgba(map-get($colors, black), 0.5);
	    		}
	    	}

    		&.slider__dot--is-current
    		{
    			background-color: map-get($colors, black) !important;
    		}
    	}
    }
}

// TESTIMONIALS
.testimonials
{
	&__slide
	{
		margin-bottom: 3.5rem;
		padding: 3rem 0;
		vertical-align: middle;

		.js &
		{
			display: block;
		}

		@include from('sm')
		{
			padding: 8rem 7rem 4rem;
			margin-bottom: 0;
			vertical-align: middle;

			.js &
			{
				display: none;

				&.slider--is-current
				{
					display: table-cell !important;
				}
			}
		}

		&__text
		{
			position: relative;
			font:
			{
				family: $font-title-family;
				size: 1.9rem;
				style: italic;
			}
			line-height: (39/19);

			& > q
			{
				display: block;
				position: relative;
				padding: 2.4rem 4rem;
				quotes: "“" "”" "‘" "’";

				&::before, 
				&::after
				{
					display: block;
					position: absolute;
					color: rgba( map-get($colors, black), 0.2);
					font:
					{
						family: "Roboto Mono";
						size: 5rem;
					}
					line-height: (27/50);
				}

				&::before
				{
					content: open-quote;
					top: 0;
					left: 0;

					@include at('xs')
					{
						left: 10px;
					}
				}

				&::after
				{
					content: close-quote;
					bottom: 0;
					right: 0;

					@include at('xs')
					{
						right: 10px;
					}
				}
			}
		}

		&__information
		{
			margin-bottom: 2em;
			padding: 0 4rem;
			font-size: 1.4rem;
			color: $gray;
		}

		&__legend
		{
			padding: 0 4rem;
			color: map-get($colors, gray-very-dark);
			text-align: right;

			&__name
			{
				display:block;
				color: map-get($colors, black);
				font:
				{
					size: 1.8rem;
				}
			}
		}

		&__wrapper
		{
			&__inner
			{
			}
		}
	}

	&__list
	{
		padding-right: 2.5rem;

		@include from('hd')
		{
			margin-left: -8rem;
		}

		&__wrapper
		{
			padding-left: 3.5rem;
			padding-right: 3.5rem;

			@include from('sm')
			{
				display: table;
			}

			@include from('lg')
			{
				padding-left: 0;
				padding-right: 0;
			}

			&__inner
			{
				display: table-cell;
				vertical-align: middle;
				
				.js &
				{
					@include to('xs')
					{
						display: none;
					}
				}
			}
		}

		&__item
		{
			// padding-left: 2.2rem;
			// From PSD: margin is 100px, parent width is 600px
			// margin-left: percentage(100/600);

			&__button
			{
				$font-size: 1.8rem;
				
				display: block;
				position: relative;
				@extend %button-reset;
				color: rgba(map-get($colors, white), 0.35);
				font-size: $font-size;
				text-align: left;
				transition: color 0.3s ease;

				&::before
				{
					content: '';
					opacity: 0;
					visibility: hidden;
					position: absolute;
					top: ($font-size * $base-line-height / 2);
					right: 100%;
					margin-right: 2.2rem;
					height: 1px;
					width: 1000rem;
					background-color: currentColor;
					transition: 0.3s ease;
				}

				&:hover,
				&:focus
				{
					color: rgba(map-get($colors, white), 0.65);
				}

				&.slider__button--is-current
				{
					color: map-get($colors, white);

					&::before
					{
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}
}