/**
 * LAYOUT
 */

$overlap: 8.6rem;

.container
{
	display: inline-block;
	margin: 17.5rem 0;

	&__inner
	{
		// FROM PSD
		$margin-left: 266px;
		$width: 1333px;
		
		display: inline-block;
		margin: $overlap percentage($margin-left/$width);

		&.is-overlap
		{

			
			// padding: $overlap 0 0 0;
			margin: - $overlap percentage($margin-left/$width) $overlap;
			width: (100 - (percentage($margin-left * 2 /$width)));
		}
	}

	&.has-overlap
	{
		margin-top: 17.5 + $overlap;
	}

	&__table
	{
		display: table;
		table-layout: fixed;

		&__cell
		{
			display: table-cell;
			width: percentage(3/100);
			padding: 8rem 2rem 7rem 2rem;

			&__text
			{
				max-height: 15rem;
				min-height: 15rem;
			}

			&__img
			{
				margin: 0 0 7rem 0;
				
				.icon__table
				{
					height: 6.2rem;
					width: 9.4rem;
					fill: map-get($colors, white);
				}
			}
		}
	}
}

.site-content
{
	height: 100%;
}

.site-section
{
	margin-top: 17.5rem;
}

// TITLE
.section-title
{

}

// IMAGE
.section-img
{
	&__header
	{
		height: auto;
		max-width: 100%;
		// margin-top: - $overlap;
	}
}

// BACKGROUND COLUMN
.site-background
{
	position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    // Ensure that it always be behind the content
    z-index: -100;

	&__inner
	{
		height: 100%;
	}

	&__column
	{
		$border-column: 1px solid rgba(map-get($colors, black), 0.1);

		height: 0;
		border-right: $border-column;
    	transition: height .6s linear;
    	


		&:first-child
		{
			border-left: $border-column;
		}
		
		// When DOM is ready
		@at-root
		{
			.is-ready &
			{
				height: 100%;
			}
		}
	}

}

// TESTIMONIALS
.testimonials
{
	padding-bottom: 33rem;

	&__inner
	{
		position: relative;
		margin:
		{
			bottom: 12rem;
			top: 12rem;		
		}
		padding: 7rem 9rem;
		z-index: 1;
	}

	&__background
	{
		@extend %position-absolute;
		background:
		{
			position: center;
			size: cover;
		}
		z-index: 0;

		&__inner
		{
			background-image: url('#{$jpg-dir}opencraft_background_testimonials.jpg');
		}
	}
}